<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create Tutorial</title>
</head>
<body>
    <h1>Create Tutorial</h1>
    <form action="/tutorials/create" method="post" th:object="${tutorial}">
        <p>Name: <input type="text" th:field="*{nombre}"/></p>
        <p>Description: <input type="text" th:field="*{descripcion}"/></p>
        <p>URL: <input type="text" th:field="*{url}"/></p>
        <p>Status: <input type="text" th:field="*{estado}"/></p>
        <p>Date: <input type="date" th:field="*{fecha}"/></p>
        <p>Author: <input type="text" th:field="*{autor}"/></p>
        <p><input type="submit" value="Create"/></p>
    </form>
</body>
</html>
